<div class="ydd-main-container">
  <div class="ydd-main-content">
    <div class="ydd-page-content">
      <div class="ydd-page-preview">
        <div class="item">
          <div class="ydd-page-preview-item-description">
            <h1>Progress Button</h1>
            <p>This represents a component where the button itself serves as a progress indicator. You can choose from 16 types of animations.
              3D animation styles are used for showing the progress indication on one side of the button while rotating the button in perspective.</p>
            <h2>Selector</h2>
            <div class="ydd-table">
              <section class="ydd-row">
                <div class="ydd-cell ydd-cell-selector">
                  &#x3C;ydd-progress-button&#x3E;
                </div>
              </section>
            </div>
            <h2>Inputs</h2>
            <div class="ydd-table">
              <section class="ydd-row ydd-row-header">
                <div class="ydd-cell ydd-cell-name">Name</div>
                <div class="ydd-cell ydd-cell-type">Type</div>
                <div class="ydd-cell ydd-cell-description">Description</div>
              </section>
              <div class="ydd-table-body">
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">name</div>
                  <div class="ydd-cell ydd-cell-type">string</div>
                  <div class="ydd-cell ydd-cell-description">Specifies a name for the button</div>
                </section>
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">value</div>
                  <div class="ydd-cell ydd-cell-type">string</div>
                  <div class="ydd-cell ydd-cell-description">Specifies an initial value for the button</div>
                </section>
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">type</div>
                  <div class="ydd-cell ydd-cell-type"><a class="ydd-internal-link" routerLink="." fragment="ProgressButtonType">ProgressButtonType</a>
                  </div>
                  <div class="ydd-cell ydd-cell-description">Specifies the type of button</div>
                </section>
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">autofocus</div>
                  <div class="ydd-cell ydd-cell-type">true<br/>null</div>
                  <div class="ydd-cell ydd-cell-description">Specifies that a button should automatically get focus when the page loads</div>
                </section>
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">disabled</div>
                  <div class="ydd-cell ydd-cell-type">true<br/>null</div>
                  <div class="ydd-cell ydd-cell-description">Specifies that a button should be disabled</div>
                </section>
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">form</div>
                  <div class="ydd-cell ydd-cell-type"><a class="ydd-internal-link" routerLink="." fragment="ProgressButtonForm">ProgressButtonForm</a>
                  </div>
                  <div class="ydd-cell ydd-cell-description">Specifies form parameters for the button</div>
                </section>
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">progress</div>
                  <div class="ydd-cell ydd-cell-type"><a class="ydd-internal-link" routerLink="." fragment="ProgressButtonData">ProgressButtonData</a>
                  </div>
                  <div class="ydd-cell ydd-cell-description">Specifies progress parameters like animation and direction</div>
                </section>
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">design</div>
                  <div class="ydd-cell ydd-cell-type"><a class="ydd-internal-link" routerLink="."
                                                         fragment="ProgressButtonDesign">ProgressButtonDesign</a>
                  </div>
                  <div class="ydd-cell ydd-cell-description">Specifies button and progress design</div>
                </section>
              </div>
            </div>
            <h2>Outputs</h2>
            <div class="ydd-table big-type">
              <section class="ydd-row ydd-row-header">
                <div class="ydd-cell ydd-cell-name">Name</div>
                <div class="ydd-cell ydd-cell-type">Parameters</div>
                <div class="ydd-cell ydd-cell-description">Description</div>
              </section>
              <div class="ydd-table-body">
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">action</div>
                  <div class="ydd-cell ydd-cell-type">ProgressButtonComponent</div>
                  <div class="ydd-cell ydd-cell-description">Fires on a mouse click on the element</div>
                </section>
              </div>
            </div>
            <h2>Methods</h2>
            <div class="ydd-table">
              <section class="ydd-row ydd-row-header">
                <div class="ydd-cell ydd-cell-name">Name</div>
                <div class="ydd-cell ydd-cell-type">Parameters</div>
                <div class="ydd-cell ydd-cell-description">Description</div>
              </section>
              <div class="ydd-table-body">
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">progressInit</div>
                  <div class="ydd-cell ydd-cell-type"></div>
                  <div class="ydd-cell ydd-cell-description"><code>ProgressButtonComponent</code> method that initialize the progress component. You
                    can
                    use it inside
                    the <code>action</code> Output
                  </div>
                </section>
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">progressStop</div>
                  <div class="ydd-cell ydd-cell-type">status</div>
                  <div class="ydd-cell ydd-cell-description"><code>ProgressButtonComponent</code> method that stop the progress component. You can use
                    it
                    inside
                    the <code>action</code> Output specifing the <code>status</code>. The <code>status</code> can be <code>success</code> or
                    <code>error</code>
                  </div>
                </section>
              </div>
            </div>
            <h2>Properties</h2>
            <div class="ydd-table">
              <section class="ydd-row ydd-row-header">
                <div class="ydd-cell ydd-cell-name">Name</div>
                <div class="ydd-cell ydd-cell-description">Description</div>
              </section>
              <div class="ydd-table-body">
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">progressValue</div>
                  <div class="ydd-cell ydd-cell-description"><code>ProgressButtonComponent</code> property useful to change the value of the progress.
                    You can use it inside the <code>action</code> Output
                  </div>
                </section>
              </div>
            </div>
            <h2>Types</h2>
            <div class="ydd-table big-name big-type">
              <section class="ydd-row ydd-row-header">
                <div class="ydd-cell ydd-cell-name">Name</div>
                <div class="ydd-cell ydd-cell-type">Type</div>
                <div class="ydd-cell ydd-cell-description">Description</div>
              </section>
              <div class="ydd-table-body">
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name" id="ProgressButtonType">ProgressButtonType</div>
                  <div class="ydd-cell ydd-cell-type">button<br/>reset<br/>submit</div>
                  <div class="ydd-cell ydd-cell-description">Specifies the type of button</div>
                </section>
                <section class="ydd-row" id="ProgressButtonForm">
                  <div class="ydd-cell ydd-cell-title">ProgressButtonForm</div>
                </section>
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">id</div>
                  <div class="ydd-cell ydd-cell-type">string<br/>null</div>
                  <div class="ydd-cell ydd-cell-description">Specifies one or more forms the button belongs to</div>
                </section>
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">action</div>
                  <div class="ydd-cell ydd-cell-type">string<br/>null</div>
                  <div class="ydd-cell ydd-cell-description">Specifies where to send the form-data when a form is submitted. Only for type="submit"
                  </div>
                </section>
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">noValidate</div>
                  <div class="ydd-cell ydd-cell-type">boolean<br/>null</div>
                  <div class="ydd-cell ydd-cell-description">Specifies that the form-data should not be validated on submission. Only for
                    type="submit"
                  </div>
                </section>
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">enctype</div>
                  <div class="ydd-cell ydd-cell-type">application/x-www-form-urlencoded<br/>multipart/form-data<br/>text/plain<br/>null</div>
                  <div class="ydd-cell ydd-cell-description">Specifies how form-data should be encoded before sending it to a server. Only for
                    type="submit"
                  </div>
                </section>
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">method</div>
                  <div class="ydd-cell ydd-cell-type">get<br/>post<br/>null</div>
                  <div class="ydd-cell ydd-cell-description">Specifies how to send the form-data (which HTTP method to use). Only for type="submit"
                  </div>
                </section>
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">target</div>
                  <div class="ydd-cell ydd-cell-type">_blank<br/>_self<br/>_parent<br/>_top<br/>null</div>
                  <div class="ydd-cell ydd-cell-description">Specifies where to display the response after submitting the form. Only for type="submit"
                  </div>
                </section>
                <section class="ydd-row" id="ProgressButtonData">
                  <div class="ydd-cell ydd-cell-title">ProgressButtonData</div>
                </section>
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">animation</div>
                  <div class="ydd-cell ydd-cell-type">
                    fill
                    <br/>shrink
                    <br/>rotate-angle-bottom
                    <br/>rotate-angle-top
                    <br/>rotate-angle-left
                    <br/>rotate-angle-right
                    <br/>rotate-side-down
                    <br/>rotate-side-up
                    <br/>rotate-side-left
                    <br/>rotate-side-right
                    <br/>rotate-back
                    <br/>flip-open
                    <br/>slide-down
                    <br/>move-up
                    <br/>top-line
                    <br/>lateral-lines
                  </div>
                  <div class="ydd-cell ydd-cell-description">Defines the progress animation style</div>
                </section>
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">direction</div>
                  <div class="ydd-cell ydd-cell-type">horizontal<br/>vertical</div>
                  <div class="ydd-cell ydd-cell-description">Defines the progress animation direction</div>
                </section>
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">statusTime</div>
                  <div class="ydd-cell ydd-cell-type">number</div>
                  <div class="ydd-cell ydd-cell-description">Time in ms that the status (<code>success</code> or <code>error</code>) will be displayed
                  </div>
                </section>
                <section class="ydd-row" id="ProgressButtonDesign">
                  <div class="ydd-cell ydd-cell-title">ProgressButtonDesign</div>
                </section>
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">background</div>
                  <div class="ydd-cell ydd-cell-type">string [def: #222222]</div>
                  <div class="ydd-cell ydd-cell-description">The background of the button</div>
                </section>
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">color</div>
                  <div class="ydd-cell ydd-cell-type">string [def: #FFFFFF]</div>
                  <div class="ydd-cell ydd-cell-description">The text color of the button</div>
                </section>
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">successBackground</div>
                  <div class="ydd-cell ydd-cell-type">string [def: #00E175]</div>
                  <div class="ydd-cell ydd-cell-description">The background of the button when status is success</div>
                </section>
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">errorBackground</div>
                  <div class="ydd-cell ydd-cell-type">string [def: #FF0C00]</div>
                  <div class="ydd-cell ydd-cell-description">The background of the button when status is error</div>
                </section>
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">successIconColor</div>
                  <div class="ydd-cell ydd-cell-type">string [def: #FFFFFF]</div>
                  <div class="ydd-cell ydd-cell-description">The color of the icon when status is success</div>
                </section>
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">errorIconColor</div>
                  <div class="ydd-cell ydd-cell-type">string [def: #FFFFFF]</div>
                  <div class="ydd-cell ydd-cell-description">The color of the icon when status is error</div>
                </section>
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">progressBackground</div>
                  <div class="ydd-cell ydd-cell-type">string [def: #000000]</div>
                  <div class="ydd-cell ydd-cell-description">The background of the progress element</div>
                </section>
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">progressInnerBackground</div>
                  <div class="ydd-cell ydd-cell-type">string [def: #555555]</div>
                  <div class="ydd-cell ydd-cell-description">The background of the progress inner element</div>
                </section>
                <section class="ydd-row">
                  <div class="ydd-cell ydd-cell-name">linesSize</div>
                  <div class="ydd-cell ydd-cell-type">number</div>
                  <div class="ydd-cell ydd-cell-description">The size in px of the progress lines.
                    This value is used in the animation styles <code>top-line</code> and <code>lateral-lines</code>
                  </div>
                </section>
              </div>
            </div>
          </div>
          <div class="ydd-page-preview-item-content" style="height: 100px">
            <ydd-progress-button (action)="run($event)" [progress]="progressData" [design]="designData">
              Submit
            </ydd-progress-button>
          </div>
        </div>
        <div class="settings">
          <form [formGroup]="settingsForm" novalidate>
            <h2>Settings</h2>
            <h3>Data</h3>
            <div class="ydd-page-preview-settings-field">
              <label>Animation</label>
              <div class="field">
                <ng-select class="ydd-select" formControlName="animation" [clearable]="false">
                  <ng-option value="fill">Fill</ng-option>
                  <ng-option value="shrink">Shrink</ng-option>
                  <ng-option value="rotate-angle-bottom">Rotate Angle Bottom</ng-option>
                  <ng-option value="rotate-angle-top">Rotate Angle Top</ng-option>
                  <ng-option value="rotate-angle-left">Rotate Angle Left</ng-option>
                  <ng-option value="rotate-angle-right">Rotate Angle Right</ng-option>
                  <ng-option value="rotate-side-down">Rotate Side Down</ng-option>
                  <ng-option value="rotate-side-up">Rotate Side Up</ng-option>
                  <ng-option value="rotate-side-left">Rotate Side Left</ng-option>
                  <ng-option value="rotate-side-right">Rotate Side Right</ng-option>
                  <ng-option value="rotate-back">Rotate Back</ng-option>
                  <ng-option value="flip-open">Flip Open</ng-option>
                  <ng-option value="slide-down">Slide Down</ng-option>
                  <ng-option value="move-up">Move Up</ng-option>
                  <ng-option value="top-line">Top Line</ng-option>
                  <ng-option value="lateral-lines">Lateral Lines</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="ydd-page-preview-settings-field">
              <label>Direction</label>
              <div class="field">
                <ng-select class="ydd-select" formControlName="direction" [clearable]="false">
                  <ng-option value="horizontal">Horizontal</ng-option>
                  <ng-option value="vertical">Vertical</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="ydd-page-preview-settings-field">
              <label>Status</label>
              <div class="field">
                <ng-select class="ydd-select" formControlName="status" [clearable]="false">
                  <ng-option value="success">Success</ng-option>
                  <ng-option value="error">Error</ng-option>
                </ng-select>
              </div>
            </div>
            <h3>Design</h3>
            <div class="ydd-page-preview-settings-field">
              <label>Background</label>
              <div class="field ydd-color-preview">
                <input class="ydd-input-text" formControlName="background" name="background" type="text"/>
                <span [style.backgroundColor]="settingsForm.value.background"></span>
              </div>
            </div>
            <div class="ydd-page-preview-settings-field">
              <label>Text Color</label>
              <div class="field ydd-color-preview">
                <input class="ydd-input-text" formControlName="color" name="color" type="text"/>
                <span [style.backgroundColor]="settingsForm.value.color"></span>
              </div>
            </div>
            <div class="ydd-page-preview-settings-field">
              <label>Success Background</label>
              <div class="field ydd-color-preview">
                <input class="ydd-input-text" formControlName="successBackground" name="successBackground" type="text"/>
                <span [style.backgroundColor]="settingsForm.value.successBackground"></span>
              </div>
            </div>
            <div class="ydd-page-preview-settings-field">
              <label>Error Background</label>
              <div class="field ydd-color-preview">
                <input class="ydd-input-text" formControlName="errorBackground" name="errorBackground" type="text"/>
                <span [style.backgroundColor]="settingsForm.value.errorBackground"></span>
              </div>
            </div>
            <div class="ydd-page-preview-settings-field">
              <label>Success Icon</label>
              <div class="field ydd-color-preview">
                <input class="ydd-input-text" formControlName="successIconColor" name="successIconColor" type="text"/>
                <span [style.backgroundColor]="settingsForm.value.successIconColor"></span>
              </div>
            </div>
            <div class="ydd-page-preview-settings-field">
              <label>Error Icon</label>
              <div class="field ydd-color-preview">
                <input class="ydd-input-text" formControlName="errorIconColor" name="errorIconColor" type="text"/>
                <span [style.backgroundColor]="settingsForm.value.errorIconColor"></span>
              </div>
            </div>
            <div class="ydd-page-preview-settings-field">
              <label>Progress Background</label>
              <div class="field ydd-color-preview">
                <input class="ydd-input-text" formControlName="progressBackground" name="progressBackground" type="text"/>
                <span [style.backgroundColor]="settingsForm.value.progressBackground"></span>
              </div>
            </div>
            <div class="ydd-page-preview-settings-field">
              <label>Progress Inner Background</label>
              <div class="field ydd-color-preview">
                <input class="ydd-input-text" formControlName="progressInnerBackground" name="progressInnerBackground" type="text"/>
                <span [style.backgroundColor]="settingsForm.value.progressInnerBackground"></span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
