<div class="ydd-main-container">
  <div class="ydd-main-content">
    <div class="ydd-page-content">
      <div class="ydd-page-preview">
        <div class="item">
          <div class="ydd-page-preview-item-description">
            <markdown [src]="'https://raw.githubusercontent.com/udede/ydd-progress-button/master/README.md'"></markdown>
          </div>
          <div class="ydd-page-preview-item-content" style="height: 100px">
            <div class="open-settings-icon" (click)="isSidebarSettingsOpen=true"></div>
            <ydd-progress-button (action)="run($event)" [progress]="progressData" [design]="designData">
              Submit
            </ydd-progress-button>
          </div>
        </div>
        <div class="settings" [ngClass]="{'open':(isSidebarSettingsOpen)}">
          <div class="close-settings-icon" (click)="isSidebarSettingsOpen=false"></div>
          <form [formGroup]="settingsForm" novalidate>
            <h2>Settings</h2>
            <h3>Data</h3>
            <div class="ydd-page-preview-settings-field">
              <label>Animation</label>
              <div class="field">
                <ng-select class="ydd-select" formControlName="animation" [clearable]="false">
                  <ng-option value="fill">Fill</ng-option>
                  <ng-option value="shrink">Shrink</ng-option>
                  <ng-option value="rotate-angle-bottom">Rotate Angle Bottom</ng-option>
                  <ng-option value="rotate-angle-top">Rotate Angle Top</ng-option>
                  <ng-option value="rotate-angle-left">Rotate Angle Left</ng-option>
                  <ng-option value="rotate-angle-right">Rotate Angle Right</ng-option>
                  <ng-option value="rotate-side-down">Rotate Side Down</ng-option>
                  <ng-option value="rotate-side-up">Rotate Side Up</ng-option>
                  <ng-option value="rotate-side-left">Rotate Side Left</ng-option>
                  <ng-option value="rotate-side-right">Rotate Side Right</ng-option>
                  <ng-option value="rotate-back">Rotate Back</ng-option>
                  <ng-option value="flip-open">Flip Open</ng-option>
                  <ng-option value="slide-down">Slide Down</ng-option>
                  <ng-option value="move-up">Move Up</ng-option>
                  <ng-option value="top-line">Top Line</ng-option>
                  <ng-option value="lateral-lines">Lateral Lines</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="ydd-page-preview-settings-field">
              <label>Direction</label>
              <div class="field">
                <ng-select class="ydd-select" formControlName="direction" [clearable]="false">
                  <ng-option value="horizontal">Horizontal</ng-option>
                  <ng-option value="vertical">Vertical</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="ydd-page-preview-settings-field">
              <label>Status</label>
              <div class="field">
                <ng-select class="ydd-select" formControlName="status" [clearable]="false">
                  <ng-option value="success">Success</ng-option>
                  <ng-option value="error">Error</ng-option>
                </ng-select>
              </div>
            </div>
            <h3>Design</h3>
            <div class="ydd-page-preview-settings-field">
              <label>Background</label>
              <div class="field ydd-color-preview">
                <input class="ydd-input-text" formControlName="background" name="background" type="text"/>
                <span [style.backgroundColor]="settingsForm.value.background"></span>
              </div>
            </div>
            <div class="ydd-page-preview-settings-field">
              <label>Text Color</label>
              <div class="field ydd-color-preview">
                <input class="ydd-input-text" formControlName="color" name="color" type="text"/>
                <span [style.backgroundColor]="settingsForm.value.color"></span>
              </div>
            </div>
            <div class="ydd-page-preview-settings-field">
              <label>Success Background</label>
              <div class="field ydd-color-preview">
                <input class="ydd-input-text" formControlName="successBackground" name="successBackground" type="text"/>
                <span [style.backgroundColor]="settingsForm.value.successBackground"></span>
              </div>
            </div>
            <div class="ydd-page-preview-settings-field">
              <label>Error Background</label>
              <div class="field ydd-color-preview">
                <input class="ydd-input-text" formControlName="errorBackground" name="errorBackground" type="text"/>
                <span [style.backgroundColor]="settingsForm.value.errorBackground"></span>
              </div>
            </div>
            <div class="ydd-page-preview-settings-field">
              <label>Success Icon</label>
              <div class="field ydd-color-preview">
                <input class="ydd-input-text" formControlName="successIconColor" name="successIconColor" type="text"/>
                <span [style.backgroundColor]="settingsForm.value.successIconColor"></span>
              </div>
            </div>
            <div class="ydd-page-preview-settings-field">
              <label>Error Icon</label>
              <div class="field ydd-color-preview">
                <input class="ydd-input-text" formControlName="errorIconColor" name="errorIconColor" type="text"/>
                <span [style.backgroundColor]="settingsForm.value.errorIconColor"></span>
              </div>
            </div>
            <div class="ydd-page-preview-settings-field">
              <label>Progress Background</label>
              <div class="field ydd-color-preview">
                <input class="ydd-input-text" formControlName="progressBackground" name="progressBackground" type="text"/>
                <span [style.backgroundColor]="settingsForm.value.progressBackground"></span>
              </div>
            </div>
            <div class="ydd-page-preview-settings-field">
              <label>Progress Inner Background</label>
              <div class="field ydd-color-preview">
                <input class="ydd-input-text" formControlName="progressInnerBackground" name="progressInnerBackground" type="text"/>
                <span [style.backgroundColor]="settingsForm.value.progressInnerBackground"></span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
