@import "~@ng-select/ng-select/themes/default.theme.css";

@font-face {
  font-family: 'Gilroy-Regular';
  font-weight: normal;
  font-style: normal;
  src: url('./assets/fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.eot');
  src: url('./assets/fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.woff2') format('woff2'),
  url('./assets/fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.woff') format('woff'),
  url('./assets/fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.ttf') format('ttf'),
  url('./assets/fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
}

@font-face {
  font-family: 'Gilroy-Light';
  font-weight: 300;
  font-style: normal;
  src: url('./assets/fonts/Gilroy/Gilroy-Light/Gilroy-Light.eot');
  src: url('./assets/fonts/Gilroy/Gilroy-Light/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Gilroy/Gilroy-Light/Gilroy-Light.woff2') format('woff2'),
  url('./assets/fonts/Gilroy/Gilroy-Light/Gilroy-Light.woff') format('woff'),
  url('./assets/fonts/Gilroy/Gilroy-Light/Gilroy-Light.ttf') format('ttf'),
  url('./assets/fonts/Gilroy/Gilroy-Light/Gilroy-Light.svg#Gilroy-Light') format('svg');
}

@font-face {
  font-family: 'Gilroy-Bold';
  font-weight: 700;
  font-style: normal;
  src: url('./assets/fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.eot');
  src: url('./assets/fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.woff2') format('woff2'),
  url('./assets/fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.woff') format('woff'),
  url('./assets/fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.ttf') format('ttf'),
  url('./assets/fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
}

@font-face {
  font-family: 'Gilroy-Medium';
  font-weight: normal;
  font-style: normal;
  src: url('./assets/fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.eot');
  src: url('./assets/fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.woff2') format('woff2'),
  url('./assets/fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.woff') format('woff'),
  url('./assets/fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.ttf') format('ttf'),
  url('./assets/fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.svg#Gilroy-Medium') format('svg');
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  font-weight: 700;
  font-style: normal;
  src: url('./assets/fonts/Gilroy/Gilroy-SemiBold/Gilroy-SemiBold.eot');
  src: url('./assets/fonts/Gilroy/Gilroy-SemiBold/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Gilroy/Gilroy-SemiBold/Gilroy-SemiBold.woff2') format('woff2'),
  url('./assets/fonts/Gilroy/Gilroy-SemiBold/Gilroy-SemiBold.woff') format('woff'),
  url('./assets/fonts/Gilroy/Gilroy-SemiBold/Gilroy-SemiBold.ttf') format('ttf'),
  url('./assets/fonts/Gilroy/Gilroy-SemiBold/Gilroy-SemiBold.svg#Gilroy-SemiBold') format('svg');
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  font-weight: 800;
  font-style: normal;
  src: url('./assets/fonts/Gilroy/Gilroy-ExtraBold/Gilroy-ExtraBold.eot');
  src: url('./assets/fonts/Gilroy/Gilroy-ExtraBold/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Gilroy/Gilroy-ExtraBold/Gilroy-ExtraBold.woff2') format('woff2'),
  url('./assets/fonts/Gilroy/Gilroy-ExtraBold/Gilroy-ExtraBold.woff') format('woff'),
  url('./assets/fonts/Gilroy/Gilroy-ExtraBold/Gilroy-ExtraBold.ttf') format('ttf'),
  url('./assets/fonts/Gilroy/Gilroy-ExtraBold/Gilroy-ExtraBold.svg#Gilroy-ExtraBold') format('svg');
}

*::selection {
  background: #000000; /* WebKit/Blink Browsers */
  color: #ffffff;
}

*::-moz-selection {
  background: #000000; /* Gecko Browsers */
  color: #ffffff;
}


body {
  font-family: 'Gilroy-Medium', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.4;
  color: #333333;
}

ul {
  list-style: none;
  padding-left: 0;
}

body h1:first-child {
  margin-top: 0;
}

body a {
  color: #516bf0;
  text-decoration: none;
  border-bottom: 1px solid #dce2ff;
  padding-bottom: 3px;
}

h2, h3, h4, h5, b, strong, button {
  font-family: 'Gilroy-Bold', sans-serif;
}


h3 {
  font-family: Gilroy-Medium, sans-serif;
  font-weight: 300;
}

h5 {
  font-size: 14px;
  text-align: center;
  background: #fff;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.02);
}

h1 {
  font-family: 'Gilroy-ExtraBold', sans-serif;
  font-weight: 800;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 code {
  font-size: 18px;
  margin-right: 5px;
  margin-left: 0;
}

img[alt='preview'] {
  max-width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.02);
  border: 1px solid #f0f0f0;
  display: none;
}

input[type='text'].ydd-input-text {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid #f0f0f0;
  color: #333;
  font-size: 14px;
  font-family: Gilroy-Medium, sans-serif;
  outline: none;
  transition: all 0.2s ease;
}

input[type='text'].ydd-input-text:hover, input[type='text'].ydd-input-text:focus {
  border-color: #333333;
}

div#demourl, [alt="demo online"] {
  display: none;
}

h1#angular-progress-button + p a {
  border-bottom: none;
}

.ydd-page-content {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.ydd-page-preview {
  display: flex;
  align-items: stretch;
  height: 100%;
  max-width: 1920px;
  margin: auto;
  border: 1px solid #f0f0f0;
  border-top: 0;
  border-bottom: 0;
}

.ydd-page-preview .item {
  width: 60%;
  box-sizing: border-box;
  overflow: auto;
  height: 100%;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.ydd-page-preview-item-description {
  padding: 5em;
  height: 70%;
  overflow: auto;
}

.ydd-page-preview-item-description code {
  font-family: monospace;
  font-weight: bold;
}

.ydd-page-preview-item-content {
  padding: 3em;
  height: 30%;
  flex-grow: 2;
  background: #ffffff;
  border-top: 1px solid #f0f0f0;
  overflow: auto;
  z-index: 1;
  align-items: center;
  display: flex;
  justify-content: space-around;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.02);
}

.ydd-page-preview-item-content:before {
  content: 'COMPONENT PREVIEW';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 10px;
  color: #ddd;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  text-align: right;
  letter-spacing: 1px;
}

.ydd-page-preview .settings {
  width: 40%;
  box-sizing: border-box;
  padding: 3em;
  overflow: auto;
  height: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.02);
  border-left: 1px solid #f0f0f0;
  z-index: 2;
}

.ydd-page-preview .settings h3 {
  font-family: Gilroy-Bold, sans-serif;
  font-weight: 700;
}

.ydd-page-preview-settings-field {
  margin: 1em 0;
  display: flex;
  align-items: center;
}

.ydd-page-preview-settings-field label {
  max-width: 240px;
  width: 240px;
  padding-right: 20px;
}

.ydd-page-preview-settings-field .field {
  flex-grow: 2;
}

.ydd-page-preview-settings-field .field.ydd-color-preview {
  display: flex;
  align-items: center;
}

.ydd-page-preview-settings-field .field.ydd-color-preview input {
  flex-grow: 2;
  margin-right: 10px;
  font-family: monospace;
  letter-spacing: 1px;
  font-size: 12px;
}

.ydd-page-preview-settings-field .field.ydd-color-preview span {
  display: inline-block;
  height: 20px;
  width: 20px;
  min-width: 20px;
  border: 2px solid #f0f0f0;
  border-radius: 50%;
  flex-grow: 2;
}

@media (max-width: 1400px) {
  .ydd-page-preview .item {
    width: calc(100% - 420px);
  }

  .ydd-page-preview .settings {
    width: 420px;
  }

  .ydd-page-preview-settings-field label {
    max-width: 100px;
    width: 100px;
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  .ydd-page-preview .item {
    width: 100%
  }

  .ydd-page-preview .settings {
    position: fixed;
    right: -500px;
    top: 0;
    background: #ffffff;
    transition: right 0.3s ease-in-out;
  }

  .ydd-page-preview .settings.open {
    right: 0;
  }
}


/* SELECT */

.ng-select {
  outline: none;
  font-size: 14px;
}

.ng-select .ng-select-container {
  border: 2px solid #f0f0f0;
  background: #f9f9f9;
  cursor: pointer;
  transition: all 0.2s ease;
}

.ng-select .ng-select-container:hover {
  box-shadow: none;
  border-color: #cccccc;
}

.ng-select .ng-select-container .ng-value-container .ng-input > input {
  font-size: 14px;
  font-family: Gilroy-Medium, sans-serif;
}

.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  border-color: #333;
  box-shadow: none;
}

.ng-dropdown-panel {
  background-color: #fff;
  border: 2px solid #333;
  border-top: 0;
  box-shadow: none;
  transition: all 0.2s ease;
}


.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: #f9f9f9;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
  background-color: #f0f0f0;
}


.ng-select.ng-select-opened > .ng-select-container {
  background: #fff;
  border-color: #333333 #333333 transparent;
}

.open-settings-icon, .close-settings-icon {
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0.5;
  display: none;
  width: 16px;
  height: 16px;
  background-size: 16px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.open-settings-icon:hover, .close-settings-icon:hover {
  opacity: 1;
}

.open-settings-icon {
  background-image: url("./assets/images/open-settings.png");
  z-index: 2;
}

.close-settings-icon {
  background-image: url("./assets/images/close-settings.png");
  z-index: 3;
}

.open-settings-icon.visible, .open .close-settings-icon {
  display: block;
}


/** TABLE **/

.table {
  display: table;
  margin: 0;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #f0f0f0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.02);
}

.table .table-body {
  padding: 1em;
}

.table .header {
  padding: 0 1em;
  background: #f9f9f957;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #f0f0f0;
}

@media screen and (max-width: 768px) {
  .table {
    display: block;
  }
}

.row {
  display: flex;
}

.cell {
  padding: 1em;
  flex-grow: 2;
  text-align: left;
}

.cell code {
  background: #f9f9f9;
  padding: 5px;
  border-radius: 3px;
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 3px;
}

.row .cell:first-child,
.row .cell:nth-child(2) {
  min-width: 150px;
  max-width: 150px;
}

#properties-progressbuttoncomponent + .table .row .cell:nth-child(2) {
  max-width: 400px;
}

.row .cell:nth-child(4) {
  min-width: 70px;
  max-width: 70px;
  text-align: center;
}

.row .cell:nth-child(5) {
  display: none;
}

.header .row {
  color: #333333;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .row {
    display: block;
  }

  .header .row {
    padding: 0;
    height: 0;
  }

  .header .row .cell {
    display: none;
  }

  .row .cell:before {
    font-family: Gilroy-Bold, sans-serif;
    font-size: 12px;
    color: #808080;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: unset !important;

    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block;
  }
}

.cell {
  display: table-cell;
}

@media screen and (max-width: 768px) {
  .cell {
    display: block;
    text-align: left !important;
  }
}

.row .cell {
  font-family: monospace, sans-serif;
  font-size: 12px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;

  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.header .row .cell {
  border-bottom: none;
}

.table-body .row:last-child .cell {
  border-bottom: 0;
}

.header .row .cell {
  font-family: Gilroy-Bold, sans-serif;
  font-size: 12px;
  line-height: 1.2;
  font-weight: unset !important;

  padding-top: 19px;
  padding-bottom: 19px;
}


.table, .row {
  width: 100% !important;
}

.row:hover {
}

@media (max-width: 768px) {
  .row {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 18px;
    padding-top: 30px;
    padding-right: 15px;
    margin: 0;
  }

  .table-body .row:last-child {
    border-bottom: none;
  }

  .row .cell {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    box-sizing: border-box;
  }
  .row .cell:nth-child(1) {
    width: 100%;
  }

  .row .cell {
    font-size: 16px;
    color: #555555;
    line-height: 1.4;
    font-weight: unset !important;
  }
  .cell code {
    padding: 3px 5px;
    margin-right: 0;
    margin-bottom: 3px;
    font-size: 14px;
  }


  .table, .row, .cell {
    width: 100% !important;
    box-sizing: border-box;
  }

  .ydd-page-preview-item-description {
    padding: 3em;
  }

  ul li {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  .ydd-page-preview-item-content:before {
    text-align: center;
  }
  .ydd-page-preview-item-description {
    padding: 2em;
  }

  .ydd-page-preview .settings {
    width: 100%;
  }
  .ydd-page-preview-settings-field {
    align-items: flex-start;
    flex-direction: column;
  }

  .ydd-page-preview-settings-field label {
    max-width: 100%;
    width: 100%;
    margin-bottom: 15px;
  }

  .ydd-page-preview-settings-field .field {
    width: 100%;
  }
}
